**Exercise 01** 

- Write a function called **ex_1_a** that adds the square of the number to each item in a list
```
ex_1_a([2, 5, 6]) ---> [[2, 4], [5, 25], [6, 36]]
```

- Write a function called **ex_1_b** that adds the size to each sublist in a list
```
LL = [[2,2,3], [5,1], [], [6]]
ex_1_b(LL) ---> [[2, 2, 3, 3], [5, 1, 2], [0], [6, 1]]

```

In [1]:
# Your code here
def ex_1_a(L):
    return list(map(lambda x:[x,x**2],L))

ex_1_a([2, 5, 6])

[[2, 4], [5, 25], [6, 36]]

In [7]:
def ex_1_b(LL):
    #return list(map(lambda L:L.append(len(L)),LL))
    return list(map(lambda L:L+[len(L)],LL))

LL=[[2,2,3], [5,1], [], [6]]
ex_1_b(LL)

[[2, 2, 3, 3], [5, 1, 2], [0], [6, 1]]

In [8]:
LL

[[2, 2, 3], [5, 1], [], [6]]

 
**Exercise 02** 

 
Write code to read the data from the file (salaries.txt), increases each salary by 100 then save new salaries back to the same file.

In [37]:
# Your code here
#1. read the content from the file
f=open('salaries.txt')
content=f.read()
f.close()

#2. Add 100 to each salary
salaries=content.split(',')
new_salaries=list(map(lambda s:str(int(s)+100),salaries))

#3. save the new salaries to same file

f=open('salaries.txt','w')
f.write(','.join(new_salaries))
f.close()

**Exercise 03** 

 
- Write code to read the data from the file (names.txt), the code should return a clean list of names (called **names_list**) with no additional spaces and all first names start with upper case.

In [50]:
# Your code here
#1. read the content of the file
f=open('names.txt')
names=f.readlines()
f.close()
#clean_names=list(map(str.strip,names))
#list(map(str.title,clean_names))

names_list=list(map(lambda n:n.strip().title(),names))
names_list

['Keith Bradley',
 'Don Roy',
 'Bonnie Norton',
 'Jake Robertson',
 'Emily Mendoza',
 'Shannon Harmon',
 'Meredith Howard',
 'Irma Dean',
 'Christie Stevenson',
 'Rickey Kelley',
 'Gene Hernandez',
 'Ronald Ramos',
 'Todd Becker',
 'Nora Hale',
 'Glenda Simon',
 'Mable Page',
 'Beverly Carr',
 'Alice May',
 'Ellis Aguilar',
 'Brandi Nichols',
 'Verna Chandler',
 'Winston Barker',
 'April Anderson',
 'Joy Keller',
 'Karen Stanley',
 'Peter Foster',
 'Crystal Mccoy',
 'Alejandro Wilkins',
 'Wendell Ballard',
 'Lawrence Medina',
 'Maxine Weber',
 'Arlene Ryan',
 'Patricia Clarke',
 'Bernard Richardson',
 'Andy Fletcher',
 'Lois Obrien',
 'Dustin Manning',
 'Edgar Cain',
 'Jody Myers',
 'Neal Ball',
 'Tammy Haynes',
 'Pauline Cannon',
 'Claire Edwards',
 'Jordan Day',
 'Garry Banks',
 'Carrie Miller',
 'Francis Lewis',
 'Lynn Hicks',
 'Andrea Mckenzie',
 'Terry Rice']