**Exercise 01**

- Given the following dictionary:
```
inventory = {'pumpkin': 20, 'fruit': ['apple', 'pear'], 'vegetable': ['potato','onion','lettuce']}
```
- Modify inventory as follows:
 - Add a meat inventory item containing 'beef', 'chicken', and 'pork'.
 - Sort the vegetables (Recall the `sorted` and `sort` function.)
 - Add five more pumpkins.
After these changes, inventory is:
```
{'vegetable': ['lettuce', 'onion', 'potato'], 'fruit': ['apple', 'pear'],
 'meat': ['beef', 'chicken', 'pork'], 'pumpkin': 25}
```

In [6]:
inventory = {'pumpkin' : 20, 'fruit' : ['apple', 'pear'],
           'vegetable' : ['potato','onion','lettuce']}

#### Your code here
# Add a meat inventory item containing 'beef', 'chicken', and 'pork'.

inventory['meat']=['beef', 'chicken', 'pork']

# Sort the vegetables (Recall the sorted and sort function.)
#inventory['vegetable'].sort()
inventory['vegetable']= sorted(inventory['vegetable'])

#Add five more pumpkins.
#inventory['pumpkin']= inventory['pumpkin'] +5 
inventory['pumpkin']+=5

In [7]:
inventory

{'pumpkin': 25,
 'fruit': ['apple', 'pear'],
 'vegetable': ['lettuce', 'onion', 'potato'],
 'meat': ['beef', 'chicken', 'pork']}

**Exercise 02**

Given the following dictionary:

`
roster = {'group1' :['Jack', 'Lisa'],
          'group2' :['Mike', 'Mary'],
     	 'group3' :['John', 'Laura']} 
`
- Get the keys and values of the dictionary.
- Add a group4, item containing ‘David', ‘Susan’.
- Convert all the names belong to group 2 to upper cases.

In [15]:
roster = {'group1' :['Jack', 'Lisa'],
          'group2' :['Mike', 'Mary'],
          'group3' :['John', 'Laura']} 

# Your code here
# Get the keys and values of the dictionary.

roster.keys()
roster.values()

#Add a group4, item containing ‘David', ‘Susan’.

roster['group4']=['David', 'Susan']

#Convert all the names belong to group 2 to upper cases

#roster['group2'] = list(map(lambda n:n.upper(), roster['group2']))
roster['group2'] = list(map(str.upper,roster['group2']))

In [16]:
roster

{'group1': ['Jack', 'Lisa'],
 'group2': ['MIKE', 'MARY'],
 'group3': ['John', 'Laura'],
 'group4': ['David', 'Susan']}

**Exercise 03**

Define the following functions using if conditionals:
 1. `absolute(x)` returns the absolute value of `x`. (Don’t use the built-in `abs` function.)
 2. `leap_year(y)` returns true if `y` is divisible by 4 and not divisible by 100; but it is still true if `y` is divisible by 400. Thus, 1940 is a leap year, 1900 isn’t, and 2000 is.
 4. Use `filter` to define a function `leap_years` that selects from a list of numbers those that represent leap years.

In [17]:
#### Your code here
def absolute(x):
    if x>0:
        return x
    else:
        return -x

In [20]:
def absolute(x):
    return x if x>0 else -x

In [21]:
absolute(-10)

10

In [23]:
def leap_year(y):
    if (y%4==0 and y%100!=0) or (y%400==0):
        return True
    else:
        return False

In [29]:
leap_year(1900)

False

In [30]:
def leap_years(list_of_years):
    return list(filter( leap_year ,list_of_years))

In [31]:
years=[2000,2001,2002,2003,2004]
leap_years(years)

[2000, 2004]

In [32]:
leap_years(list(range(1990,2021)))

[1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

**Exercise 04**


- Write the key and value pairs from the following dictionary to a file called **dictionary.txt**:

```
inventory = {'pumpkin' : 3.99, 'potato': 2, 'apple' : 2.99}
potato 2
apple 2.99
pumpkin 3.99
```

- Use .items() to get the key and value pair of a dictionary.

- Remember to close the file after completion of the `for` loop.

In [48]:
# Your code here
inventory = {'pumpkin' : 3.99, 'potato': 2, 'apple' : 2.99}
f=open('dictionary.txt','w')
for k,v in inventory.items():
    f.write(str(k) + ' ' + str(v)+'\n')
f.close()

**Exercise 05**

- Given a list of names:
```
names = ['don', 'mike', 'vivian', 'saul']
```
Write code to produce the following list: 
```
[[3, 'don'], [4, 'mike'], [6, 'vivian'], [4, 'saul']]
```

In [49]:
# Your code here
names = ['don', 'mike', 'vivian', 'saul']

list(map(lambda n:[len(n), n],names))

[[3, 'don'], [4, 'mike'], [6, 'vivian'], [4, 'saul']]