**Exercise 01**

- Given the following dictionary:
```
inventory = {'pumpkin': 20, 'fruit': ['apple', 'pear'], 'vegetable': ['potato','onion','lettuce']}
```
- Modify inventory as follows:
 - Add a meat inventory item containing 'beef', 'chicken', and 'pork'.
 - Sort the vegetables (Recall the `sorted` and `sort` function.)
 - Add five more pumpkins.
After these changes, inventory is:
```
{'vegetable': ['lettuce', 'onion', 'potato'], 'fruit': ['apple', 'pear'],
 'meat': ['beef', 'chicken', 'pork'], 'pumpkin': 25}
```

In [2]:
inventory = {'pumpkin': 20, 'fruit': ['apple', 'pear'], 'vegetable': ['potato','onion','lettuce']}
inventory

{'pumpkin': 20,
 'fruit': ['apple', 'pear'],
 'vegetable': ['potato', 'onion', 'lettuce']}

In [5]:
inventory['meat'] = ['beef','chicken','pork']

inventory

{'pumpkin': 20,
 'fruit': ['apple', 'pear'],
 'vegetable': ['potato', 'onion', 'lettuce'],
 'meat': ['beef', 'chicken', 'pork']}

In [6]:
inventory['vegetable'] = sorted(inventory['vegetable'], key = lambda x:x)

In [7]:
inventory

{'pumpkin': 20,
 'fruit': ['apple', 'pear'],
 'vegetable': ['lettuce', 'onion', 'potato'],
 'meat': ['beef', 'chicken', 'pork']}

In [9]:
inventory['pumpkin'] += 5

In [10]:
inventory

{'pumpkin': 25,
 'fruit': ['apple', 'pear'],
 'vegetable': ['lettuce', 'onion', 'potato'],
 'meat': ['beef', 'chicken', 'pork']}

**Exercise 02**

Given the following dictionary:

`
roster = {'group1' :['Jack', 'Lisa'],
          'group2' :['Mike', 'Mary'],
     	 'group3' :['John', 'Laura']} 
`
- Get the keys and values of the dictionary.
- Add a group4, item containing ‘David', ‘Susan’.
- Convert all the names belong to group 2 to upper cases.

In [11]:
roster = {'group1' :['Jack', 'Lisa'],'group2' :['Mike', 'Mary'],'group3' :['John', 'Laura']}
roster

{'group1': ['Jack', 'Lisa'],
 'group2': ['Mike', 'Mary'],
 'group3': ['John', 'Laura']}

In [21]:
for k,v in roster.items():
    print('key is' + ' ' + k + '\n' + 'values are' ,v)

key is group1
values are ['Jack', 'Lisa']
key is group2
values are ['Mike', 'Mary']
key is group3
values are ['John', 'Laura']

In [23]:
roster['group4'] = ['David', 'Susan']

In [24]:
roster

{'group1': ['Jack', 'Lisa'],
 'group2': ['Mike', 'Mary'],
 'group3': ['John', 'Laura'],
 'group4': ['David', 'Susan']}

In [41]:
roster['group2'] = list(map(lambda x:x.upper() roster['group2']))

AttributeError: 'method_descriptor' object has no attribute 'upper'

In [29]:
roster

{'group1': ['Jack', 'Lisa'],
 'group2': [<method 'upper' of 'str' objects>,
  <method 'upper' of 'str' objects>],
 'group3': ['John', 'Laura'],
 'group4': ['David', 'Susan']}

**Exercise 03**

Define the following functions using if conditionals:
 1. `absolute(x)` returns the absolute value of `x`. (Don’t use the built-in `abs` function.)
 2. `leap_year(y)` returns true if `y` is divisible by 4 and not divisible by 100; but it is still true if `y` is divisible by 400. Thus, 1940 is a leap year, 1900 isn’t, and 2000 is.
 4. Use `filter` to define a function `leap_years` that selects from a list of numbers those that represent leap years.

In [53]:
def absolute(x):
    if x > 0:
        return x
    else:
        return -x
        
print(absolute(-4))

4

In [1]:
def leap_year(y):
    if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0):
        return True
    else:
        return False

print(leap_year(2000))

True

In [4]:
years=[2000,2001,2002,2003,2004]
years

[2000, 2001, 2002, 2003, 2004]

In [2]:
def leap_years(y):
    return list(filter(leap_year, y))

In [5]:
print(leap_years(years))

[2000, 2004]

**Exercise 04**


- Write the key and value pairs from the following dictionary to a file called **dictionary.txt**:

```
inventory = {'pumpkin' : 3.99, 'potato': 2, 'apple' : 2.99}
potato 2
apple 2.99
pumpkin 3.99
```

- Use .items() to get the key and value pair of a dictionary.

- Remember to close the file after completion of the `for` loop.

In [43]:
inventory = {'pumpkin' : 3.99, 'potato': 2, 'apple' : 2.99}

inventory

{'pumpkin': 3.99, 'potato': 2, 'apple': 2.99}

In [47]:
f = open('dictionary.txt', 'w')
for k,v in inventory.items():
    f.write(k + ': ' + str(v))
f.close()

**Exercise 05**

- Given a list of names:
```
names = ['don', 'mike', 'vivian', 'saul']
```
Write code to produce the following list: 
```
[[3, 'don'], [4, 'mike'], [6, 'vivian'], [4, 'saul']]
```

In [48]:
names = ['don', 'mike', 'vivian', 'saul']
names

['don', 'mike', 'vivian', 'saul']

In [49]:
list_map = list(map(lambda x: [len(x), x], names))
list_map

[[3, 'don'], [4, 'mike'], [6, 'vivian'], [4, 'saul']]