**Exercise 01**

`answers.txt` contains students answers of exam questions (each line contains student_id, then answers made by that student)
- Write code to read the data from the file, compare students answers to answers key (1 point for each correct answer), then find: 

    - Means score.
    - Id of student of the highest score.
    - Id of student of the lowest score.

`answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"`

In [1]:
#### Your code here
# read the data from the file
import numpy as np

f=open('answers.txt')
data=f.readlines()
f.close()

# put the data into numpy array
a=np.array([l.split(',') for l in data])


# Scale the answerkey to be 20 answer keys and make it as numpy array

answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"
ak=answerkey.split(',')
answer_key_array=np.array([ak]*20)

In [2]:
results=a[:,1:]==answer_key_array
scores=np.sum(results, axis=1)
print('The average score is: ',np.mean(scores))

The average score is:  18.85

In [3]:
np.max(scores)

22

In [4]:
np.min(scores)

15

In [5]:
a_as_list=a.tolist()
for i in range(len(a_as_list)):
    a_as_list[i].append(scores.tolist()[i])
new_a=np.array(a_as_list)

In [6]:
the_array_of_students_of_score_22=new_a[new_a[:,-1]=='22']
the_array_of_students_of_score_22

array([['N00000007', 'B', 'A', 'D', 'D', 'C', 'B', 'D', 'A', 'C', '',
        'D', 'B', 'A', 'B', 'A', 'C', 'B', 'D', '', 'C', 'A', 'A', 'B',
        'D', '\n', '22'],
       ['N00000016', 'B', 'A', 'C', 'D', '', 'B', 'D', 'A', 'C', 'C',
        'D', 'B', 'A', 'B', 'A', 'C', 'B', 'D', 'A', 'C', 'A', 'A', 'B',
        'D', 'D\n', '22']], dtype='<U21')

In [95]:
the_array_of_students_of_score_22[:,0]

array(['N00000007', 'N00000016'], dtype='<U21')

In [113]:
# Id of student of the lowest score.

# 1- find the lowest score
minimum_score=np.min(scores)

# 2- find the record of that student
the_array_of_students_of_score_15= new_a[new_a[:,-1]=='15']

# 3- get only the id
the_array_of_students_of_score_15[:,0]

array(['N00000001'], dtype='<U21')

**Exercise 02** 

 
Write code to read data from (data.txt) then find:

- Find number of employees in HR.
- Find the employee of the maximum number of service years in IT department.
- Compare the Average serving years of employees in HR and Trade departments.

In [137]:
#### Your code here
import numpy as np


# Read the data
f=open('data.txt')
data=f.read()
f.close()

# Save data as  numpy array
employees=np.array([l.split(',') for l in data.split('\n')])

In [158]:
# Find number of employees in HR.
print('The number of employees in HR is: ',employees[employees[:,1]=='HR'].shape[0])

The number of employees in HR is:  15

In [170]:
employees_in_IT=employees[employees[:,1]=='IT']

In [171]:
# Find the employee of the maximum number of service years in IT department.

max([int(e.split()[0]) for e in employees_in_IT[:,-1].tolist()])

15

In [174]:
employees_in_IT[employees_in_IT[:,-1]=='15 years.']

array([['Nader', 'IT', '15 years.'],
       ['Jaclyn', 'IT', '15 years.']], dtype='<U9')

In [191]:
# Compare the Average serving years of employees in HR and Trade departments.

# find employees in HR
employees_in_HR=employees[employees[:,1]=='HR']

# Get only serving years
serving_years_in_HR=[int(l.split()[0]) for l in employees_in_HR[:,-1]]

# Find the average
avg_in_HR=sum(serving_years_in_HR)/len(serving_years_in_HR)

In [192]:
# find employees in Trade
employees_in_Trade=employees[employees[:,1]=='Trade']

# Get only serving years
serving_years_in_Trade=[int(l.split()[0]) for l in employees_in_Trade[:,2]]

#find the average
avg_in_Trade=sum(serving_years_in_Trade)/len(serving_years_in_Trade)

In [193]:
print('The Average serving years of employees in HR is:', avg_in_HR)
print('The Average serving years of employees in Trade is:', avg_in_Trade)

The Average serving years of employees in HR is: 10.6
The Average serving years of employees in Trade is: 5.615384615384615